<template>
    <div class="panel panel-default">
        <div class="panel-heading">Add a product</div>

        <div class="panel-body">
            <div class="form-group" :class="{ 'has-error': errors.product_name}">
                <label for="product_name">Product name</label>
                <input v-model="form.product_name" type="text" class="form-control" id="product_name" placeholder="Product name">
                <p class="help-block" v-if="errors.product_name">
                    {{ errors.product_name[0] }}
                </p>
            </div>
            <div class="form-group" :class="{ 'has-error': errors.quantity}">
                <label for="quantity">Quantity in stock</label>
                <input v-model="form.quantity" type="number" class="form-control" id="quantity">
                <p class="help-block" v-if="errors.quantity">
                    {{ errors.quantity[0] }}
                </p>
            </div>
            <div class="form-group" :class="{ 'has-error': errors.price}">
                <label for="price">Price per item</label>
                <input v-model="form.price" type="number" class="form-control" id="price">
                <p class="help-block" v-if="errors.price">
                    {{ errors.price[0] }}
                </p>
            </div>
            <button class="btn btn-default" @click="submit">Submit</button>
        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                form: {
                    product_name: '',
                    quantity: '',
                    price: '',
                },
                errors: []
            }
        },
        methods: {
            submit() {
                axios.post( '/products', this.form )
                    .then( () => {
                        this.$emit("refreshPageData")
                    } )
                    .catch( (err) => {
                        this.errors = err.response.data.errors;
                    } )
            }
        }
    }
</script>
