<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <demo-form @refreshPageData="refreshPageData"></demo-form>
                <product-list :products="products"></product-list>
            </div>
        </div>
    </div>
</template>

<script>
    import DemoForm from './DemoForm.vue'
    import ProductList from './ProductList.vue'

    export default {
        components: {
            DemoForm, ProductList
        },
        data(){
            return {
                products: []
            }
        },
        methods: {
            refreshPageData(){
                axios.get('/products')
                    .then(({data}) => {
                        this.products = data;
                    })
                    .catch(err => console.log("Error getting page data: ", err.message))
            }
        },
        mounted() {
            this.refreshPageData();
        }
    }
</script>
