<template>
    <div class="panel panel-default">
        <div class="panel-heading">Product List</div>

        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Submited</th>
                    <th>Total value</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="product in products">
                    <td>{{product.product_name}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.submited}}</td>
                    <td>{{product.quantity * product.price}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{ total}}</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</template>

<script>

    export default {
        props: ["products"],
        computed: {
            total(){
                return _.reduce(this.products, (carry, item) => { return carry + item.price * item.quantity }, 0);
            }
        }
    }
</script>
